body{
   
    background-color: #293745;
}

.tolist {
    align-items: center;
    display: flex;
    margin: 150px;
    height: 300px;
    width: 1100px;
    gap: 50px;
    /* background-color: aqua; */
    
}

.tolist img {

    
    height: 200px;
    width: 200px;

}



