footer {
  /* Fixed position to keep it at the bottom of the viewport */
  display: flex;
  gap: 30px;
  
  
  margin-top: 20px;
  margin-left: 45px;
  height: 0px;
  width: 1200px;
}
.container {
  display: flex;
  padding: 2px;
  align-items: center;
  justify-content: space-between;
}

body {
  margin-bottom: 3rem;
  /* Add margin to the bottom of the body to accommodate the fixed footer */
}