{% include 'navbar.html'%}
{% load static %}
<!-- <link rel="stylesheet", href="{% static 'css/basic.css' %}"> -->
<link rel="stylesheet" , href="{% static 'css/contact.css' %}">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="tolist">

        <a href="https://facebook.com/">

            <img src="/static/Facebook.png" alt="Facebook" height="100px" width="100px">
            
        </a>

        <a href="https://www.linkedin.com/in/itsmanishgautam/">

            <img src="/static/linkedin.png" alt="Linkedin" height="100px" width="100px">
            
        </a>

        <a href="https://github.com/itsmanishgautam" >
            <img src="/static/github.png"  alt="Github" height="100px" width="100px">
            
        </a>

        <a href="">
            <img src="/static/Share.png" alt="Share" height="100px" width="100px">
           


        </a>







    </div>

</body>

</html>