{% load static %}
{% include 'navbar.html'%}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    
    <link rel="stylesheet" , href="{% static 'css/contact.css' %}">
</head>
<body>

<div class="container">
    <h1>Contact Information</h1>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/itsmanishgautam/" target="_blank">LinkedIn</a>
        <a href="https://github.com/itsmanishgautam" target="_blank">GitHub</a>
    </div>
</div>

</body>
</html>
