{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manish Gautam</title>
   
    <link rel="stylesheet", href="{% static 'css/navbar.css' %}"}
    
    
</head>
<body>
    
    

<nav>
    <div class="navbar-container">
        <div class="logo">
            <a href="index.html">Manish Gautam</a>
        </div>
        <ul class="navbarlinks">
            <li><a href="index.html">index</a></li>
            
            <li><a href="myCv.html">myCv</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
            
        </ul>
    </div>
</nav>



</body>
</html>
